<!doctype html>
<html lang="en">
  <head>
  	<title>Historial de consultas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	{%load static%}
	
    <link rel="stylesheet" href = '{% static "css/style_historial.css" %}' >
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  	<div class="container-fluid">
		<ul class="navbar-nav me-auto mb-2 mb-md-0">
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page">{{nombre}} {{apellido}}</a>
			</li> 
			<li class="nav-item">
			  <form action="/logout/" method="get"><a class="nav-link active" aria-current="page" href="/logout/">Cerrar sesión</a></form>
			</li>
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/cambiar_contrasenia/">Cambiar contraseña</a>
			  </li>         
		  </ul>
      <div class="navbar-brand">
        <a href="/">Veterinaria: Patitas Por el Mundo</a>
      </div>
	  
    </div>
  </nav>
	</head>
	<body>
	<section class="ftco-section">
		{% if consultas %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Historial de consultas</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table">
						  <thead class="thead-dark">
						    <tr>
						      <th>Número de consulta</th>
						      <th>Fecha</th>
							  <th>Sede</th>
							  <th>Médico</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>	
								{% for consulta in consultas %}
								<tr class="alert" role="alert">
								<th scope="row">{{ consulta.0 }}</th>
								<td>{{ consulta.3 }}</td>
								<td>{{ consulta.4 }}</td>
								<td>{{ consulta.5 }}</td>
								<td>
									<a href="/modificar_consulta/{{consulta.0}}" class="update"> 
									<span><i>Modificar Consulta</i></span>
									</a>
								</td>
								</tr>
								{% endfor %}
							
						  </tbody>
						</table>
					</div>
				</div>
			</div>
			{% else %}
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h1>No hay consultas para mostrar</h1>
				</div>
			</div>
			<br><br><br><br><br><br><br><br>
			{% endif %}
		</div>
	</section>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>
		<footer class="pie">
			<div class="espacio">
			<div class="blanquito">
			<a>Kevin Ezequiel Lorenzo</a><br>
			<a>Gustavo Porcel</a><br>
			<a>Germán Belucci</a><br>
			<a>Federico Hartwing</a><br>
			<a>Gerardo Calabrese</a>
			</div>
			</div>
		</footer>
	</body>
</html>