<!doctype html>
<html lang="en">
  <head>
  	<title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	{%load static%}
	
	<link rel="stylesheet" href = '{% static "css/style.css" %}' >

	</head>
	<body class="img js-fullheight">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Veterinaria</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Crear una cuenta</h3>
		      	<form action="/post_register/" class="signin-form" method = "POST">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Nombre" required name="nombre">
		      		</div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Apellido" required name="apellido">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="DNI" required name="dni">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Teléfono" required name="telefono">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="email" required name="email">
                    </div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" placeholder="Password" required name="contra">
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
				<p>Si ya tenes una cuenta, <a href="/login/" class="negrito">Logueate</a></p>
					{% if hubo_error %}
						<div class="alert alert-danger" role="alert">
							Ya existe un usuario con ese mail.
						</div>
					{% endif %}
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3">Registrarse</button>
	            </div>
	          </form>
			</div>
		</div>
	</section>

	<script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/main.js"></script>

	</body>
</html>